
.Breakfast-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px  auto;

}
.Breakfast-container header{
    display: flex;
    align-items: center;
}
.Breakfast-container header span{
    font-size: 20px;
    margin-left: 24px;
}
.Breakfast-container header strong{
    color: rgb(40, 88, 177);
}
.Breakfast-container header img{
    height: 64px;
}
.Breakfast-container a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.Breakfast-container header button{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.5s;
}
.Breakfast-container header button:hover{
border-color: #251FC5;

}

.Breakfast-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.Breakfast-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.Breakfast-container ul li{
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}  

.Breakfast-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
    cursor: pointer;
    

}
.Breakfast-container ul li button + button{
  top:50px;

}
.Breakfast-container ul li button:hover{
    opacity: 0.8;
}
.Breakfast-container ul li strong{
 display: block;
 margin-bottom: 16px;
 color: #41414D;
}
.Breakfast-container ul li p + strong{
    margin-top: 32px;

}
.Breakfast-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;

}
.button{
    width: 120px;
    height: 60px;
    background: #3967E6;
    border: 0;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.3s;
}
.button:hover{
    background-color: #0000C4;
    text-decoration: none;
    box-shadow: 0px 8px 16px #4942FF;
}